<div class="row-container header">
    <div class="row">
        <header>
            <h1>ThoughtLead</h1>

            <div data-ng-include="'modules/_app/templates/main-nav.html'"></div>
        </header>
    </div>
</div>

<div class="row-container list-container">

    <div id="thought-list-container">
        <div class="row" id="thought-list">
            <div class="table-controls form-inline clearfix">
                <input type="text" class="form-control" placeholder="Search Thoughts" data-ng-model="query">
            </div>

            <table>

                <!-- <tbody infinite-scroll="infiniteList.list.getNextPage()"
                        infinite-scroll-disabled="infiniteList.list.busy || infiniteList.list.nextPage === null"
                        infinite-scroll-distance="0"> -->

                <tbody>
                    <tr data-ng-repeat="item in infiniteList.list | filter:query" id="{{ item.id }}" >
                        <td>
                            {{ item.id }}
                        </td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            <a href="mailto:{{ item.email }}">{{ item.email }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div data-ng-show="infiniteList.items.busy">Loading data...</div>
        </div>
    </div>

    <div id="thought-container">

        <div id="thought-container-banner">
            External Content
        </div>

        <iframe data-ng-src="{{ infiniteList.currentThought.link }}">
             <p>Your browser does not support iframes. You are not a ThoughtLeader :(</p>
        </iframe>

    </div>

    <div id="afterthought-container">
    </div>
</div>
